*{
    margin: 3px;
    background: #fff;
  }
  .main{
    .head{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .logo{
      }
      .menus{
      }
      .join{
      }
    }
    
  }