.job{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .r1{
        margin-top: 5px;
        width: 100%;
        text-align: center;
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .jwidg{
            border-radius:15px 20px 15px 0px ;
            margin-left: 20px;
            padding-top: 15px;
            height: 120px;
            width: 25%;
            background-color: rgba(144, 35, 163, 0.8);
            text-align: center;
            color: white;
            font-weight: bold;
            border-bottom: 4px solid #e6e9ec;
        }
    }
    .r2{
        margin-top: 5px;
        width: 30%;
        text-align: center;
        font-weight: bolder;
        position: sticky;
        top: 0;
        right: 10%;
        
        .disc{
            margin-top: 20px;
            padding: 10px;
            height: max-content;
            background-color: rgba(20,145,222,0.8);
            text-align: center;
            border-radius: 7px;
            color: white;
            font-weight: bold;

        }
    }
}