.m{
    display: flex;
    flex-direction: row;
    .skill{
    }

    .job{
        display: flex;
        flex-direction: row;
        .r1{
            margin-top: 5px;
            width: 40%;
            text-align: center;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .jobtiles{
                border-radius:15px 20px 15px 0px ;
                margin-left: 20px;
                margin-top: 10px;
                padding-top: 15px;
                height: 120px;
                background: #f3f3f3;
                text-align: center;
                color: black;
                font-weight: bold;
                border-bottom: 4px solid #e6e9ec;
            }
            
        }
        .r2{
            margin: 10px;
            width: 40%;
            text-align: center;
            font-weight: bolder;
            position: sticky;
            height: 500px;
            top: 0;
            overflow-y: scroll;
            
            .disc{
                margin-top: 20px;
                padding: 10px;
                padding-bottom: 50px;
                height: max-content;
                background: #f3f3f3;
                text-align: center;
                border-radius: 7px;
                color: black;
                font-weight: normal;

            }
        }
    }
    }
span{
    color: blue;
}